header {
  padding: 0 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  background-color: #282c34;
  color: white;
}

.header-container {
  width: 100%;
}

.header-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.header-right-container {
  margin: 0 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

header a:hover,
header a:link,
header a:visited,
header a:active {
  color: white;
  text-decoration: none;
}

.header-button {
  padding: 0;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px white solid;
  border-radius: 10px;
  cursor: pointer;
}
