header {
  padding: 0 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  background-color: #282c34;
  color: white;
}

header a:hover,
header a:link,
header a:visited,
header a:active {
  color: white;
  text-decoration: none;
}

.header-button {
  cursor: pointer;
}
