header {
  padding: 0.5em 2em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: calc(4px + 2vmin);
  background-color: #282c34;
  color: white;
}

.header-container {
  width: 100%;
}

.header-left {
  justify-self: flex-start;
}

.header-left h1 {
  text-align: left;
  width: auto;
  margin: 0;
}

.header-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.header-right-container {
  margin: 0 0.6em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: calc(1px + 2vmin);
}

header a:hover,
header a:link,
header a:visited {
  color: white;
  text-decoration: none;
}

header a:active {
  color: #44aaff;
}

.header-button {
  padding: 10px;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px white solid;
  border-radius: 10px;
  cursor: pointer;
}

/* .header-button:hover {
  color: #44aaff;
  border-color: #44aaff;
  background-color: white;
} */

.header-button:active {
  color: #44aaff;
  border-color: #44aaff;
  background-color: #282c34;
}

.add-mask-button {
  width: 2em;
  font-family: 'Courier New', Courier, monospace;
}
