.user-masks {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.masks-list {
  padding: 0 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.masks-list-image {
  height: 150px;
  width: auto;
  z-index: -1000;
}

.masks-list-null {
  text-align: center;
}

.masks-list-item {
  margin: 25px;
  text-align: center;
  width: 300px;
  border-radius: 10px;
  border: 2px solid black;
  z-index: 100;
}

.masks-list-item:hover {
  cursor: pointer;
}

.mask-details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mask-details-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.mask-details-container-item-details ul {
  text-align: left;
  padding: 0;
}

.mask-details-container-item-details a {
  text-align: center;
  text-decoration: none;
}

.mask-details-container li {
  list-style-type: none;
}

.mask-details-container img {
  height: 350px;
  width: auto;
}

.mask-options {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
}

.mask-options-button {
  margin: 0 5em;
  padding: 0.4em;
  border: 3px solid #44aaff;
  color: #44aaff;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.mask-options-button:active {
  color: #48d;
  border-color: #48d;
}

.add-mask-container,
.edit-mask-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.add-mask .form-container,
.edit-mask .form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.add-mask .form-container .form-item,
.edit-mask .form-container .form-item {
  margin: 10px auto;
}

.mask-image-container img {
  height: auto;
  width: 350px;
}

.mask-image-container-null-image {
  height: auto;
  width: 350px;
}
