#root {
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

main {
  flex: 1;
}

main a:link,
main a:visited {
  color: #44aaff;
  text-decoration: none;
}

.loading-spinner {
  height: 5em;
  width: auto;
}
