#root {
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.app-link {
  color: #44aaff;
  cursor: pointer;
}

.app-link :active {
  color: #48d;
  border-color: #48d;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

main {
  flex: 1;
}

main a:link,
main a:visited {
  color: #44aaff;
  text-decoration: none;
}

.app-loading-spinner {
  height: 5em;
  width: auto;
}

.app-loading-spinner-wrapper {
  flex: 1;
  justify-content: center;
  align-items: center;
}
