.login-container,
.register-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.register-form,
.login-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.login-form input,
.register-form input {
  margin: 10px;
}
